@model   IEnumerable<EntityFramework2.Models.tblProduct>

@{
    ViewBag.Title = "Index";
}

<h2>Products List</h2>
<ol>
    @foreach(var item in Model)
    {
        <li>@Html.ActionLink(item.Name,"Details",new { id = item.ProductId })</li>
    }
</ol>
<br />
@Html.ActionLink("Back to Categories", "Index","Categories")
