
@{ 
    Layout = null;
}




<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    <script src="~/js/mylib.js"></script>

</head>
<body>

    <h3 class="format">Index Page</h3>
    <img src="~/images/Hydrangeas.jpg"  onclick="clickMe()" />

</body>
</html>